* {
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    overflow-x: hidden;
}
.container{
    position:relative;
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:100px;
}
.back-vid{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    mix-blend-mode: overlay;

}
.cover{
    position: fixed;
    inset: 0 0 0 0;
    background-color: rgba(0, 0, 0, 0.211) ;
}

header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 70px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.121);
    backdrop-filter: blur(5px) ;
    box-shadow: 0 0 15px #72a1dea2;
}

.left{
    display:flex;
    align-items: center;  
}

.left img{
    width: 40px;
    margin: 0 15px;
}
.border-glow {
    width: 150px; 
    height: auto;
    border-radius: 10px;
    padding: 5px;
    background: linear-gradient(45deg, #ff0000, #ff7300, #ffeb00, #00ff00, #00d9ff, #7a00ff, #ff00d4);
    background-size: 300% 300%;
    animation: borderGlow 3s infinite linear;
  }

  @keyframes borderGlow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

.multicolor-text {
    font-weight: bold;
    font-size: 2em;
    background-image: linear-gradient(-45deg, #ff0000, #ff7300, #ffeb00, #00ff00, #00d9ff, #7a00ff, #ff00d4);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 3s infinite linear;
  }

  @keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

header ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 15px 15px;
    border-radius: 50px;
    background-color: rgba(0, 0, 69, 0.326);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #72a1de63;
    font-family: 'Comic Sans MS', cursive, sans-serif !important
}


header ul li {
    list-style: none;
    
}


header ul a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 800;
    transition: 0.3s;
    margin: 0 10px;
    padding: 5px 15px;
    overflow: hidden;
    display: inline-block;
}


header ul a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0%;
    height: 3px;
    background: linear-gradient(90deg, #ff0000, #ff7300, #ffeb00, #00ff00, #00d9ff, #7a00ff, #ff00d4);
    transition: width 0.4s ease, left 0.4s ease;
}


header ul a:hover::after {
    width: 100%;
    left: 0;
}


header ul a:hover {
    text-shadow: 0 0 15px #7211de;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}


header ul a:active {
    animation: ripple 0.4s ease-out;
}


@keyframes ripple {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.2); opacity: 0.6; }
    100% { transform: scale(1); opacity: 1; }
}

.box-icons{
    display: flex;
    gap:40px;
}
.box-icons p{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    width: 60px; 
    height: 60px; 
    min-width: 60px;
    min-height: 60px;
    border:4px solid #7211de;
    border-radius: 50%;
    cursor:pointer;
    transition: 0.5s;
}
.box-icons p a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none !important;
    color: inherit;
    cursor: pointer !important; 
}

.box-icons p:hover a {
    color: white; 
}


.box-icons p:hover{
    background-color: #7211de;
    color:black;
    box-shadow: 0 0 15px #7211de ;
}

.blackhole-box{
    position:absolute;
    top: -2px;;
    width:100%;
    display: flex;
    justify-content: center ;
    z-index: -1;
    mix-blend-mode: lighten;
}

.blackhole-box video{
    width: 100%;
    margin-top: -24.5%;
}


/*Home*/


.hero {
    position: relative;
    display: flex;
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: flex-start;
    padding: 0 5%;
}


.hero-info {
    max-width: 900px;
    
}
.flicker-text {
    font-size: 50px;
    font-weight: bold;
    color: #fff; 
    position: relative;
    display: inline-block;
    animation: flicker 1.5s infinite alternate;
    text-shadow: 0 0 5px #72a1de, 0 0 10px #72a1de, 0 0 15px #72a1de;
}


@keyframes flicker {
    0% { opacity: 1; text-shadow: 0 0 5px #72a1de, 0 0 10px #72a1de; }
    25% { opacity: 0.8; text-shadow: 0 0 8px #72a1de, 0 0 12px #72a1de; }
    50% { opacity: 0.6; text-shadow: 0 0 3px #72a1de, 0 0 8px #72a1de; }
    75% { opacity: 0.9; text-shadow: 0 0 10px #72a1de, 0 0 15px #72a1de; }
    100% { opacity: 1; text-shadow: 0 0 5px #72a1de, 0 0 10px #72a1de; }
}




.hero-info div {
    color: #72a1de;
    max-width: 550px;
    padding: 8px 15px;
    border-radius: 50px;
    border: 1px solid #72a1de94;
    background-color: #2200493d;
    box-shadow: 0 0 5px #72a1de84;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.hero-info h1 {
    width:max-content ;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin: 40px 0 30px;
    color: #fff;
}
.hero-info h1 span {
    background: linear-gradient(45deg, #008baa, #ff7300, #7e42a7, #6600c5, #6070fd, #2a46ff, #0099ff,#008ead);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 3s infinite linear;
    font-weight: bold;
}


@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.hero-info p {
    max-width: 800px;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 40px;
    color: lightgray;
}

.Buttons {
    display: flex;
    gap: 10px; 
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.Buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    width: 220px;
    height: 60px;
    background: transparent;
    border-image-source: linear-gradient(135deg, #0056b3, #003d80);
    font-size: 25px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.3s ease, background 0.3s;
    font-family: "Arial", sans-serif;
    position: relative;
    overflow: hidden;
}
.Buttons a{
    font-size: 25px;
    text-decoration: none;
}


.Buttons button:hover {
    transform: scale(1.05);
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.4);
    background: #7211de;
}


.Buttons button i {
    font-size: 22px;
    transition: transform 0.3s ease-in-out;
}


.Buttons button:hover i {
    transform: rotate(360deg) scale(1.2);
}

.animated-container {
    position: relative;
    width: 1050px;
    height: 800px;
    mix-blend-mode:lighten;
}
  
 
#animatedElement {
    width: 800px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%); 
    animation: continuousMove 8s ease-in-out infinite;
    animation-fill-mode: forwards; 
}
  
 
  @keyframes continuousMove {
    0% {
      transform: translate(-50%, -50%) translate(0px, 0px);
    }
    25% {
      transform: translate(-50%, -50%) translate(15px, 10px);
    }
    50% {
      transform: translate(-50%, -50%) translate(-15px, 20px);
    }
    75% {
      transform: translate(-50%, -50%) translate(-10px, -10px);
    }
    100% {
      transform: translate(-50%, -50%) translate(10px, -20px);
    }
  }
  


/*skills*/

.skill-section{
    max-width: 2000px;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

.section-title{
    background: linear-gradient(45deg, #008baa, #ff7300, #7e42a7, #6600c5, #6070fd, #2a46ff, #0099ff,#008ead);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 3s infinite linear;
    font-weight: bold;
    font-size: 80px;
    font-weight: 700;
}
.section-title i{
    background: linear-gradient(45deg, #008baa, #ff7300, #7e42a7, #6600c5, #6070fd, #2a46ff, #0099ff,#008ead);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 3s infinite linear;
    font-weight: bold;
}
.earth-box video{ 
    width:900px;
}
.skill-box{
    width:1400px;
    height:90vh;
    position:relative;
    display: flex;
    align-items: start;
    justify-content: center;
}

.banner{
    width: 200%;
    height: 90vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.banner .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}
@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(550px);
}
.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit:contain ;
}

@media (max-width: 1024px) {
    .banner {
        height: 80vh;
    }
    .banner .slider {
        width: 180px;
        height: 230px;
        left: calc(50% - 90px);
    }
    .banner .slider .item {
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(438px); 
    }
}

/* Mobile Devices 480px - 768px */

@media (max-width: 768px) {
    .earth-box video{
        width:700px;
    }
    .banner {
        height: 70vh;
    }
    .banner .slider {
        width: 150px;
        height: 200px;
        left: calc(50% - 75px);
    }
    .banner .slider .item {
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(340px); 
    }
}

/* Small Mobile Devices below 480px */

@media (max-width: 480px) {
    .skill-section{
        height: 800px;
    }
    .earth-box video{
        width:500px;
    }
    .banner {
        height: 60vh;
    }
    .banner .slider {
        width: 80px;
        height: 100px;
        left: calc(50% - 40px);
    }
    .banner .slider .item {
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(215px); 
    }
}


/* education*/


.education-section{
    max-width: 2000px;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
.educontainers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
}
.educontainers .card {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #111;
    border-radius: 20px;
    font-size: 5em;
    font-weight: 700;
    cursor: pointer;
    color: var(--clr);
    transition: 0.25s;
}
.card {
    padding: 15px;
    width: 350px;
    background: transparent;
    color: #333;
    text-align: center;
    border-radius: 10px;
    border: 2px solid;
    border-image-source: linear-gradient(45deg, 
        #008baa, #ff7300, #7e42a7, #6600c5, 
        #6070fd, #2a46ff, #0099ff, #008ead);
    border-image-slice: 1;
    animation: glowing 5s infinite linear;
    transition: 0.3s ease-in-out;
}

@keyframes glowing {
    0% { box-shadow: 0 0 10px #008baa; }
    14% { box-shadow: 0 0 15px #ff7300; }
    28% { box-shadow: 0 0 15px #7e42a7; }
    42% { box-shadow: 0 0 15px #6600c5; }
    57% { box-shadow: 0 0 15px #6070fd; }
    71% { box-shadow: 0 0 15px #2a46ff; }
    85% { box-shadow: 0 0 15px #0099ff; }
    100% { box-shadow: 0 0 15px #008ead; }
}

.card:hover {
    animation: glowing-hover 3s infinite alternate;
}

@keyframes glowing-hover {
    0% { box-shadow: 0 0 20px #008baa; }
    14% { box-shadow: 0 0 25px #ff7300; }
    28% { box-shadow: 0 0 25px #7e42a7; }
    42% { box-shadow: 0 0 25px #6600c5; }
    57% { box-shadow: 0 0 25px #6070fd; }
    71% { box-shadow: 0 0 25px #2a46ff; }
    85% { box-shadow: 0 0 25px #0099ff; }
    100% { box-shadow: 0 0 25px #008ead; }
}

.card-paragraph {
    font-size: 0.35em;
    font-weight: 500;
    text-align: left;
    padding: 10px;
}

.card-paragraph strong {
    background: linear-gradient(45deg, #ff4500, #ff7300, #ffcc00, #00ff66, #00ccff, #3366ff, #8a2be2, #ff1493);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900; 
    font-size:30px;
    top: 30%;
}
@media (max-width: 1024px) {
    .educontainers {
        gap: 30px; 
    }
    .educontainers .card {
        width: 400px;
        height: 400px;
        font-size: 3.5em; 
    }
    .card {
        width: 300px;
        padding: 10px;
    }
    .card-paragraph strong {
        font-size: 25px;
    }
}


@media (max-width: 768px) {
    .educontainers {
        flex-direction: column; 
        gap: 20px;
    }
    .educontainers .card {
        width: 400px;
        height: 400px;
        font-size: 3em; 
    }
    .card {
        width: 280px;
    }
    .card-paragraph strong {
        font-size: 22px;
    }
}
@media (max-width: 480px) {
    .educontainers .card {
        width: 300px;
        height: 320px;
        font-size: 2.5em;
    }
    .card {
        width: 300px;
    }
    .card-paragraph strong {
        font-size: 20px;
    }
    .section-title {
        font-size: 48px; 
    }
    .section-title i {
        font-size: 48px; 
    }
}

/*projects*/


.project-section {
    width: 100%;
    min-height: 140vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.moon-box {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 
}

.moon-box video {
    width: 800px;
    height: 800px;
    object-fit: cover; 
    position: absolute;
    border-radius: 50%;
    top: 18%;
    left: 30%;
    
}
.containerr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px; 
    position: relative; 
    z-index: 2; 
    padding: 50px 20px; 
}

.cardd {
    cursor: pointer;
    width: 500px;
    height: 600px;
    position: relative;
}

.front,
.back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .9s linear;
    border-radius: 20px;
}

.front img {
    height: 100%;
    width: 100%;
    opacity: 0.8;
}

.front {
    transform: perspective(600px) rotateY(0deg);
}

.back {
    background: #f1f1f1;
    transform: perspective(600px) rotateY(180deg);
}

.back-content {
    color: #2c3e50;
    text-align: center;
    width: 100%;
}
.back-content h3{
    width:470px;
}
.back-content img{
    width:450px;
    height:200px;
}
.back-content a {
    text-decoration: none; 
}
.prolinks{
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.back-content button {
    font-size: 60px; 
    width: 80px; 
    height: 80px; 
    background: transparent; 
    border: none; 
    cursor: pointer; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-content button i {
    font-size: 60px; 
    color: #0A66C2; 
}

.back-content button:hover i {
    color: #004182; 
}


.cardd:hover>.front {
    transform: perspective(600px) rotateY(-180deg);
}

.cardd:hover>.back {
    transform: perspective(600px) rotateY(0deg);
}
@media (max-width: 1024px) {
    .moon-box video {
        width: 600px; 
        top: 20%;
        left:15%;
    }
    
    .containerr {
        gap: 40px; 
    }

    .cardd {
        width: 400px;
        height: 500px;
    }
    .back-content h3 {
        width: fit-content;
        font-size: 14px; 
    }

    .back-content img {
        max-width: 380px;
        height:200px; 
    }

    .back-content button {
        font-size: 28px; 
        width: 55px; 
        height: 55px; 
    }
}

/* Mobile Devices 480px - 768px */
@media (max-width: 768px) {
    .project-section{
        height:100%;
    }
    .moon-box video {
        width: 600px; 
        height: auto;
        top: 30%;
        left: 10%;
    }

    .containerr {
        gap: 30px; 
    }

    .cardd {
        width: 300px;
        height: 400px;
    }

    .front img {
        object-fit: cover;
    }
    .back-content h2{
        font-size: 14px;
    }
    .back-content h3 {
        width: 270px;;
        font-size: 13px; 
    }

    .back-content img {
        max-width: 280px;
        height: 130px; 
    }
    .prolinks{
        gap: 10px;
    }
    .back-content button {
        font-size: 20px; 
        width: 20px; 
        height: 20px; 
    }
    .back-content button i{
        font-size: 26px;
    }
}

/* Small Mobile Devices below 480px */


@media (max-width: 480px) {
    .project-section{
        height: 500px;
    }
    .moon-box video {
        width: fit-content; 
        height: auto;
        top: 10%;
        left: 5%;
    }

    .containerr {
        flex-direction: column;
        gap: 20px; 
    }

    .cardd {
        width: 280px;
        height: 380px;
    }

    .front img {
        object-fit: cover;
    }
    .back-content h2{
        font-size: 14px;
    }
    .back-content h3 {
        width: 270px;;
        font-size: 12px; 
    }

    .back-content img {
        max-width: 250px;
        height: 116px; 
    }
    .prolinks{
        gap: 10px;
    }
    .back-content button {
        font-size: 20px; 
        width: 20px; 
        height: 20px; 
    }
    .back-content button i{
        font-size: 24px;
    }
}





  /*experience*/
.experience-section{
    width: 100%;
    min-height: 140vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.sun-box{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.sun-box video{
    width: 800px;
    height: 800px;
    object-fit: cover; 
    position: absolute;
    border-radius: 50%;
    top: 18%;
    left: 30%;
}
.box {
    position: relative;
    width: 600px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 20px;
    opacity: 0.8;
    
}
.box .content {
    position: relative;
    width: 450px;
    z-index: 10; 
}

.box::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 140%;
    background: linear-gradient(#FFA500, #FF4500);
    animation: animate 4s linear infinite;
    z-index: 0;

}

.box::after {
    content: "";
    position: absolute;
    inset: 4px;
    background: #3b1f0f;
    border-radius: 16px;
    z-index: 1;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.box h1 {
    text-align:center;
    font-size: 35px;
    color: #FFD700;
    
}

.box h2 {
    text-align: center;
    font-size: 22px;
    color: #FF4500;
    margin-bottom: 15px;
}

.box p {
    font-size: 18px;
    line-height: 1;
    text-align: justify;
    margin-bottom: 15px;
}

.box ul {
    list-style: none;
    padding: 0;
}

.box ul li {
    background: linear-gradient(90deg, #FFA500, #FF4500);
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    text-align: center;
}
.content button {
    font-size: 60px; 
    width: 80px; 
    height: 80px; 
    background: transparent; 
    border: none; 
    cursor: pointer; 
    display: flex;
    align-items:center;
    justify-content:center;
    z-index: 10;
}
.content a {
    text-decoration: none; 
}

.content button i {
    font-size: 60px; 
    color: #FFD700; 
}

.content button:hover i {
    color:  #FFA500; 
}
@media (max-width: 1024px) {
    .sun-box video{
        top: 30%;
        left: 10%;
    }
    .box {
        width: 500px;
        height: 600px;
    }

    .box .content {
        width: 400px;
    }

    .box h1 {
        font-size: 30px;
    }

    .box h2 {
        font-size: 20px;
    }

    .box p {
        font-size: 16px;
    }

    .box ul li {
        font-size: 14px;
    }

    .content button {
        font-size: 50px;
        width: 70px;
        height: 70px;
    }
}

/* Mobile Devices 480px - 768px*/

@media (max-width: 768px) {
    .sun-box video{
        top: 20%;
        left: 4%;
    }
    .box {
        width:600px;
        height: 550px;
    }

    .box .content {
        width: 94%;
    }

    .box h1 {
        font-size: 28px;
    }

    .box h2 {
        font-size: 18px;
    }

    .box p {
        font-size: 16px;
    }

    .box ul li {
        font-size: 12px;
    }

    .content button {
        font-size: 40px;
        width: 60px;
        height: 60px;
    }
}

/* Small Mobile Devices  480px */

@media (max-width: 480px) {
    .experience-section{
        min-height: 100vh;
    }
    .box {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .box .content {
        width: 100%;
    }

    .box h1 {
        font-size: 24px;
    }

    .box h2 {
        font-size: 16px;
    }

    .box p {
        font-size: 12px;
    }

    .box ul li {
        font-size: 10px;
    }

    .content button {
        font-size: 35px;
        width: 50px;
        height: 50px;
    }
}


/*contact*/

.contact-section {
    max-width: 1800px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}
.contact-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:50px;
    width:100%;
    max-width: 1800px;
    margin: auto;
    flex-wrap: wrap;
}
.contact-image{
    flex: 1;
    justify-content: center;
    align-items: center;
}

.contact-image img{
    width: 500px;
    height:auto;
}


.contact-container {
    flex:2;
    background: transparent;
    padding: 25px;
    border: 2px solid #00ccff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 600px;
    height:550px;
    text-align: center;
    margin: auto;
    z-index: 10;
}

.input-box {
    margin-bottom: 15px;
}

.input-box input, .input-box textarea {
    width: 100%;
    padding: 24px;
    background: rgb(255, 255, 255,0.3);
    border: 2px solid #00ccff;
    border-radius: 8px;
    font-size: 20px;
    outline: none;
    transition: 0.3s ease-in-out;
    position: relative;
    z-index: 10;
}

.input-box input:focus, .input-box textarea:focus {
    border-color: #d400d4;
}

.input-box textarea {
    height: 100px;
    resize: none;
}

.btn {
    width: 100%;
    padding: 24px;
    background: linear-gradient(90deg, #00ccff, #d400d4);
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    background: linear-gradient(90deg, #d400d4, #00ccff);
}


.box-iconss {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.box-iconss p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    width: 60px;
    height: 60px;
    border: 4px solid #7211de;
    border-radius: 50%;
    cursor: pointer;  
    transition: 0.3s ease-in-out;
    color: #7211de;
    text-align: center;
    user-select: none;
    background-color: transparent;
    z-index: 10;
}

.box-iconss p a {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none !important;
    color: inherit; 
    cursor: pointer !important; 
}

.box-iconss p:hover a {
    color: white;
}

.box-iconss p:hover {
    background-color: #7211de;
    color: white;
    box-shadow: 0 0 15px #7211de;
}

.box-iconss p:hover i {
    color: white;
}
@media (max-width: 1024px) {
    .contact-block {
        flex-direction: column; 
        gap: 30px;
    }

    .contact-image img {
        max-width: 400px; 
    }

    .contact-container {
        max-width: 500px;
        padding: 20px;
    }

    .input-box input, 
    .input-box textarea {
        padding: 18px;
        font-size: 16px;
    }

    .btn {
        padding: 18px;
        font-size: 18px;
    }

    .box-iconss p {
        font-size: 25px;
        width: 50px;
        height: 50px;
    }
}

/* Mobile Devices (480px - 768px) */

@media (max-width: 768px) {
    .contact-section {
        padding: 20px;
    }

    .contact-block {
        flex-direction: column;
        gap: 20px;
    }

    .contact-image img {
        max-width: 300px;
    }

    .contact-container {
        width: 100%;
        max-width: 400px;
        padding: 15px;
    }

    .input-box input, 
    .input-box textarea {
        padding: 15px;
        font-size: 16px;
    }

    .btn {
        padding: 15px;
        font-size: 16px;
    }

    .box-iconss p {
        font-size: 22px;
        width: 45px;
        height: 45px;
    }
}

/* Small Mobile Devices (below 480px) */

@media (max-width: 480px) {
    .contact-section {
        padding: 10px;
    }

    .contact-block {
        flex-direction: column;
        gap: 15px;
    }

    .contact-image img {
        max-width: 250px;
    }

    .contact-container {
        width: 90%;
        max-width: 350px;
        padding: 10px;
    }

    .input-box input, 
    .input-box textarea {
        padding: 12px;
        font-size: 14px;
    }

    .btn {
        padding: 12px;
        font-size: 14px;
    }

    .box-iconss {
        gap: 10px;
    }

    .box-iconss p {
        font-size: 18px;
        width: 40px;
        height: 40px;
    }
}

/* AUTO DISPLAY ANIMATION*/

.autoDisplay{
    animation:autoDisplayAnimation both;
    animation-timeline: view();
}
@keyframes autoDisplayAnimation{
    from{
        filter:blur(10px);
        transform:translateY(-200px) scale(0);
        opacity:0.2;
    }
    50%{
        opacity:1;
        filter:blur(0);
        transform: trnaslateX(0) scale(1);
    }
}


.menu-icon {
    font-size: 35px;
    cursor:pointer;
    display:none;
}
.sidebar{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 70%;
    width: 0%;
    background-color: #000000b8;
    backdrop-filter: blur(10px);
    z-index: 999;
    box-shadow: 0 0 20px rgba(211, 211,211, 0.411);
    border-bottom-left-radius: 100%;
    opacity: 0;
    overflow: hidden;
    transition:  width 1.5s ease-in-out, opacity 0.5s ease-in-out;
}
.close-icon{
    font-size:50px;
    color:#7211de;
    padding-left: 10px;
    cursor: pointer;
}
.close-icon i{
    border: 4px solid #7211de;
    border-radius: 50%;
}
/* Sidebar List Styling */
.sidebar ul {
    padding-left: 20px;
}

.sidebar ul li {
    list-style: none;
    margin-bottom: 30px;
}

.sidebar ul li a {
    text-decoration: none;
    color: lightgray;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0 0 15px rgba(128, 128, 128, 0.256);
    transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

/* Hover Effect */
.sidebar ul li a:hover {
    color: #7211de;
    text-shadow: 0 0 20px #7211de, 0 0 30px #7211de;
    transform: translateX(5px);  /* Slight movement to the right on hover */
}

.sidebar .social-icons{
    padding-left: 20px;
    margin-top: 60px;
    text-wrap:nowrap;
}
.sidebar .social-icons a{
    display: flex;
    font-size: 35px;
    padding:5px 5px;
    cursor: pointer ;
}


/*open sidebar Animation*/


.open-sidebar{
    animation: openSidebarAnimation 1.5s forwards;
}
@keyframes openSidebarAnimation {
    from {
        width: 0;
        opacity: 0;
        bottom: 70%;
        border-bottom-left-radius: 100%;
    }
    to {
        width: 80%;
        opacity: 1;
        bottom: 0;
        border-radius: 0;
    }
}
.social-icons {
    display: flex;
    gap: 16px; 
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
}
.social-icons a {
    text-decoration: none;
    font-size: 50px; 
    color: #7211de; 
    display: flex; 
    align-items: center;
    transition: transform 0.4s ease, text-shadow 0.4s ease;
    animation: floatAnimation 3s infinite ease-in-out;
}
.social-icons a i {
    font-size: 50px; 
    transition: transform 0.4s ease, text-shadow 0.4s ease;
}

@keyframes floatAnimation {
    0% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0); }
}
.social-icons a:hover i {
    transform: scale(2); 
    text-shadow: 0px 0px 25px rgba(114, 17, 222, 0.8); 
}










@media (max-aspect-ratio: 16/9){
    .back-vid{
        width: auto;
        height: 100%;
    }

}
@media (min-aspect-ratio: 16/9){
    .back-vid{
        width:100%;
        height: auto;
    }

}


/*tablet Responsive*/
@media screen and (max-width:1024px){
    .blackhole-box video{
        width:100%;
        margin-top: -20%;
        
    }
    header ul {
        display: none;
    }
    header ul a{
        display: none;
    }
    .box-icons{
        display:none;
    }
    .hero{
        width:100%;
    }

    .hero-info div{
        font-size: 14px;
        width:400px
    }

    .hero-info h1{
        font-size:40px;
        max-width:600px;
        line-height: 40px;
    }

    .hero-info p{
        max-width:400px;
    }
    .Buttons button {
        width:180px;
        font-size: 20px;
    }
    .Buttons a{
        font-size: 25px;
        text-decoration: none;
    }
    .animated-container{
        width:1000px;
        height:800px;
    }
    #animatedElement{
        left: 20%;
        width: 650px;
        height: 650px;
    }
    .menu-icon{
        display: inline;
    }
}


/*HOme MObile*/


@media(max-width:768px){
    .blackhole-box video{
        width:100%;
        margin-top: -20%;
        
    }
    header ul {
        display: none;
    }
    header ul a{
        display: none;
    }
    .box-icons{
        display:none;
    }
    .hero {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        padding: 0 10%;
    }

    .hero-info {
        padding: 15px;
    }

    .hero-info h1 {
        font-size: 35px;
        line-height: 45px;
        margin: 30px 0;
    }

    .hero-info p {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 30px;
    }

    .Buttons button {
        width: 180px;
        font-size: 20px;
    }

    .Buttons a {
        font-size: 18px;
    }

    .animated-container {
        width: 100%;
        height: 600px;
    }

    #animatedElement {
        width: 100%;
        height: auto;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .menu-icon {
        display: inline-block;
        margin-top: 20px;
    }

    .box-icons {
        display: none;
    }
}


/*home mobile*/

@media(max-width:480px){
    .blackhole-box video{
        width:100%;
        margin-top: -12%;
    }
    .multicolor-text{
        font-size: 24px;
    }
    header ul {
        display: none;
    }
    header ul a{
        display: none;
    }
    .box-icons{
        display:none;
    }
    .hero {
        padding: 0 5%;
        height: auto;
    }
    .hero-info {
        padding: 10px;
    }
    .flicker-text{
        font-size: 35px;
    }
    .hero-info h1 {
        font-size: 28px;
        line-height: 38px;
        margin: 20px 0;
    }
    .hero-info p {
        font-size: 16px;
        line-height: 24px;
    }
    .Buttons button {
        width: 160px;
        font-size: 18px;
    }
    .Buttons a {
        font-size: 16px;
    }
    .animated-container {
        width: 100%;
        height: 500px;
    }
    #animatedElement {
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .menu-icon {
        display: inline-block;
    }
    .social-icons{
        gap: 4px;
    }
}